<div class="container-fluid controller-edit wrapper edit-{{modulePrefix}}"
     data-edit-controller-options="{{ controllerOptions|raw }}">
{#
    controller notifications (optional section for displaying alerts that are added to the controller) 
#}
    <section class="container-alerts"
         data-bind="template: { foreach: alerts, afterAdd: showAlert, beforeRemove: hideAlert }">
        <div class="alert"
             data-bind="css: {
                            'alert-success': 'success' === type,
                            'alert-error': 'error' === type
                        }">
            <strong data-bind="text: message"></strong>
            <i class="hb-icon-cancel close"
               data-bind="click: function(alert) { $parent.removeAlert(alert); }"> </i>
        </div>
    </section>
<!--
    the actual editing form.
-->
    <div class="row-fluid" style="margin-top: 85px">

        <form class="span12 form-horizontal" method="post" action="{{ro.gen(NULL)}}"
              data-bind="submit: onFormSubmit" style="padding-bottom: 60px;">
            <fieldset>
                <legend style="display: none;">{{tm._('edit-form-title', td)}}</legend>
                <div class="tabbable" style="margin-top: 20px;">
                    {% if tabs|length > 2 %}
                    <ul class="nav nav-tabs">
                    {% for tabName, tabDef in tabs %}
                        {% if tabDef.visibility == 'visible' and tabs|length > 2 %}
                        <li class="{{tabDef.is_default ? 'active' : ''}}">
                            <a data-toggle="tab" href="#tab-{{tabName}}">
                                {{tm._(tabName, td)}}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="tab-content">
                    {% for tabName, tabDef in tabs %}
                    <div class="tab-pane tab-{{ tabName }} {{ tabDef.is_default ? 'active in' : '' }} fade"
                        id="tab-{{ tabName }}">
                        {% for row in tabDef.rows %}
                        {% if row.type == 'default' %}
                        <div class="row-fluid">
                            {% for groupName, groupDef in row.groups %}
                            {% if groupDef.openColumn == true %}
                            <div class="span{{groupDef['width']}} group">
                            {% endif %}
                                {% if groupDef.boxed == true %}
                                <div class="field-group field-group-{{groupName}}">
                                    <h3 class="input-group-label">
                                        {{tm._(groupName, td)}}
                                    </h3>
                                    {% for field in groupDef.fields %}
                                        {{field|raw}}
                                    {% endfor %}
                                    {% if tm._(groupName ~ '_help', td) != groupName ~ '_help' %}
                                    <span class="hb-icon-info help-trigger group-help"
                                        data-title="{{ tm._('group_level_help') }}" data-content="{{ tm._(groupName ~ '_help', td) }}"
                                        data-animation="false" data-placement="left" data-trigger="manual" />
                                    {% endif %}
                                </div>
                                {% else %}
                                    {% for field in groupDef.fields %}
                                        {{field|raw}}
                                    {% endfor %}
                                {% endif %}
                            {% if groupDef.closeColumn == true %}
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% elseif row.type == 'custom' %}
                            {{ row.content|raw }}
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-actions">
                <a href="{{ listLink }}" class="btn" style="margin-right: 20px;"><strong>Schließen</strong></a>
                {% if readonly == false %}
                <button type="submit" name="save_type" value="save_and_continue" class="btn btn-primary action-save"><strong>Speichern</strong></button>
                <button type="submit" name="save_type" value="save_and_new" class="btn btn-primary action-save-continue" data-bind="click: onFormSubmit"><strong>Speichern und neu</strong></button>
                {% endif %}
            </div>
        </form>
    </div>
    <div class="push"></div>
</div>
