<div class="container wrapper">
    <input type="hidden" value="{{ password_meter_options|json_encode }}" id="password_meter_options" />
    {% if errors|length > 0 %}
    <div class="errors">
        {% for error in errors %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&#215;</button>
            {{ error }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <form class="well form-password form-horizontal" action="{{ ro.gen(NULL) }}" method="post" style="margin-top: 20%;">
        <input type="hidden" value="{{ token }}" name="token" />
        <fieldset>
            <legend>{{tm._('Set password','user.ui')}}</legend>
            <div class="control-group">
                <label for="user_password" class="control-label">{{ tm._('Password','user.ui') }}</label>
                <div class="controls input-prepend">
                    <label for="user_password" class="add-on hb-icon-lock">&#8203;</label>
                    <input class="input-password" id="user_password" type="password" name="password" placeholder="*******" />
                </div>
                <span class="hb-icon-checkbox-checked"></span>
            </div>
            <div class="control-group">
                <label for="user_password_repeat" class="control-label">{{ tm._('Repeat password','user.ui') }}</label>
                <div class="controls input-prepend">
                    <label for="user_password_repeat" class="add-on hb-icon-lock">&#8203;</label>
                    <input class="input-password-repeat" id="user_password_repeat" type="password" name="password_repeat" placeholder="*******" />
                </div>
                <span class="hb-icon-checkbox-checked"></span>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button style="display: block;" type="submit" class="btn btn-primary btn-set-pwd"> {{ tm._('Set password','user.ui') }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="password_requirements" style="display:none">
    <p class="requirments-label">Die folgenden Kriterien sind erforderlich</p>
    <ul class="password_requirements mandatory">
        <li class="min_string_length">
            <span class="icon hb-icon-spam"></span>
            <span class="icon hb-icon-checkmark-circle"></span>
            <span>{{ tm._('Min. %d characters long', 'user.ui', null, [ password_meter_options.requirements.min_string_length ]) }}</span>
        </li>
        <li class="min_lowercase_chars">
            <span class="icon hb-icon-spam"></span>
            <span class="icon hb-icon-checkmark-circle"></span>
            <span>{{ tm._('Min. %d lowercase letters', 'user.ui', null, [ password_meter_options.requirements.min_lowercase_chars ]) }}</span>
        </li>
        <li class="min_uppercase_chars">
            <span class="icon hb-icon-spam"></span>
            <span class="icon hb-icon-checkmark-circle "></span>
            <span class="req-text">{{ tm._('Min. %d uppercase characters', 'user.ui', null, [ password_meter_options.requirements.min_uppercase_chars ]) }}</span>
        </li>
        <li class="min_decimal_numbers">
            <span class="icon hb-icon-spam"></span>
            <span class="icon hb-icon-checkmark-circle "></span>
            <span class="req-text">{{ tm._('Min. %d numeric characters', 'user.ui', null, [ password_meter_options.requirements.min_decimal_numbers ]) }}</span>
        </li>
    </ul>
    <p class="requirments-label">Optional wird empfohlen</p>
    <ul class="password_requirements password_requirements-optional">
        <li class="min_lowercase_chars" style="display: none">
            <span class="icon hb-icon-spam"></span>
            <span class="icon hb-icon-checkmark-circle"></span>
            <span>{{ tm._('lowercase letters', 'user.ui', null, [ password_meter_options.requirements.min_lowercase_chars ]) }}</span>
        </li>
        <li class="min_uppercase_chars" style="display: none">
            <span class="icon hb-icon-spam"></span>
            <span class="icon hb-icon-checkmark-circle "></span>
            <span class="req-text">{{ tm._('uppercase letters', 'user.ui', null, [ password_meter_options.requirements.min_uppercase_chars ]) }}</span>
        </li>
        <li class="min_decimal_numbers" style="display: none">
            <span class="icon hb-icon-spam"></span>
            <span class="icon hb-icon-checkmark-circle "></span>
            <span class="req-text">{{ tm._('numeric characters', 'user.ui', null, [ password_meter_options.requirements.min_decimal_numbers ]) }}</span>
        </li>
        <li class="special-chars">
            <span class="icon hb-icon-spam"></span>
            <span class="icon hb-icon-checkmark-circle"></span>
            <span class="req-text">{{ tm._('special characters', 'user.ui') }}</span>
        </li>
    </ul>
    <p>zu benutzen, um die Komplexität zu erhöhen.</p>
    <div class="progress strength-scorebar">
        <div class="bar" style="width: 0%;"></div>
        <ul class="password-strengths">
            <li>{{ tm._('weak', 'user.ui') }}</li>
            <li>{{ tm._('medium', 'user.ui') }}</li>
            <li>{{ tm._('strong', 'user.ui') }}</li>
        </ul>
    </div>
</div>
