<div class="container wrapper">
    <form class="well form-password form-horizontal" action="{{ ro.gen(NULL) }}" method="post" style="margin-top: 20%;">
        <input type="hidden" value="{{ token }}" name="token" />
        <fieldset>
            <legend>{{tm._('Set password','user.ui')}}</legend>
            <div class="control-group">
                <label for="user_password" class="control-label">{{ tm._('Password','user.ui') }}</label>
                <div class="controls input-prepend">
                    <label for="user_password" class="add-on icon-lock">&#8203;</label>
                    <input class="input-password" id="user_password" type="password" name="password" placeholder="*******" />
                </div>
            </div>
            <div class="control-group">
                <label for="user_password_repeat" class="control-label">{{ tm._('Repeat password','user.ui') }}</label>
                <div class="controls input-prepend">
                    <label for="user_password_repeat" class="add-on icon-lock">&#8203;</label>
                    <input class="input-password-repeat" id="user_password_repeat" type="password" name="password_repeat" placeholder="*******" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button style="display: block;" type="submit" class="btn btn-primary btn-set-pwd"> {{ tm._('Set password','user.ui') }}</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div id="password_requirements" style="display:none">
    <ul class="password_requirements">
        <li class="length-chars">
            <span class="icon icon-exclamation-sign"></span>
            <span class="icon icon-ok-sign"></span>
            <span>{{ tm._('Min. 8 characters long', 'user.ui') }} <b>*</b></span>
        </li>
        <li class="lowercase-chars">
            <span class="icon icon-exclamation-sign"></span>
            <span class="icon icon-ok-sign"></span>
            <span>{{ tm._('Contains lowercase letters', 'user.ui') }} <b>*</b></span>
        </li>
        <li class="uppercase-chars">
            <span class="icon icon-exclamation-sign"></span>
            <span class="icon icon-ok-sign"></span>
            <span class="req-text">{{ tm._('Contains uppercase letters', 'user.ui') }} </span>
        </li>
        <li class="numeric-chars">
            <span class="icon icon-exclamation-sign"></span>
            <span class="icon icon-ok-sign"></span>
            <span class="req-text">{{ tm._('Contains numeric characters', 'user.ui') }} <b>*</b></span>
        </li>
        <li class="special-chars">
            <span class="icon icon-exclamation-sign"></span>
            <span class="icon icon-ok-sign"></span>
            <span class="req-text">{{ tm._('Contains special characters', 'user.ui') }}</span>
        </li>
    </ul>
    <div class="progress strength-scorebar">
        <div class="bar" style="width: 0%;"></div>
        <ul class="password-strengths">
            <li>{{ tm._('weak', 'user.ui') }}</li>
            <li>{{ tm._('medium', 'user.ui') }}</li>
            <li>{{ tm._('strong', 'user.ui') }}</li>
        </ul>
    </div>
</div>
