{% set errors = errors ? errors : [] %}
<div class="container wrapper">
    <form class="well" action="{{ro.gen(NULL)}}" method="post" style="margin-top: 20%;">
        <fieldset>
            <legend>{{tm._('Reset password','user.ui')}}</legend>
            <p>{{tm._('Please enter your email or username.','user.ui')}}</p>
            <div class="control-group input-prepend">
                <label for="user_input" class="control-label">{{ tm._('Username','user.ui') }}</label>
                <label for="user_input" class="add-on icon-user">&#8203;</label>
                <input type="text" id="user_input" name="username" placeholder="{{ tm._('clark.kent','user.ui') }}" />
            </div>
            <div class="control-group input-prepend">
                <label for="email_input" class="control-label">{{ tm._('Email','user.ui') }}</label>
                <label for="email_input" class="add-on icon-envelope">&#8203;</label>
                <input id="email_input" type="text" name="email" placeholder="{{ tm._('clark@kent.org','user.ui') }}" />
            </div>
            <button style="display: block;" type="submit" class="btn btn-primary"> {{tm._('Reset password','user.ui') }}</button>
        </fieldset>
    </form>
</div>
