<div class="container wrapper">
    {% if errors.auth is defined %}
    <div class="errors">
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&#215;</button>
            {{ errors.auth }}
        </div>
    </div>
    {% endif %}
    <form class="well form-auth form-horizontal" action="{{ ro.gen('user.login') }}" method="post" style="margin-top: 20%;">
        <fieldset>
            <legend>{{tm._('Signin','user.ui')}}</legend>
            <div class="control-group">
                <label for="user_input" class="control-label">{{ tm._('Username','user.ui') }}</label>
                <div class="controls input-prepend">
                    <label for="user_input" class="add-on hb-icon-user">&#8203;</label>
                    <input type="text" id="user_input" name="username" placeholder="clark.kent" />
                </div>
            </div>
            <div class="control-group">
                <label for="password_input" class="control-label">{{ tm._('Password','user.ui') }}</label>
                <div class="controls input-prepend">
                    <label for="password_input" class="add-on hb-icon-lock">&#8203;</label>
                    <input id="password_input" type="password" name="password" placeholder="*******" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button style="display: block;" type="submit" class="btn btn-primary"> {{tm._('Signin','user.ui') }}</button>
                </div>
            </div>
        </fieldset>
    </form>
    {% if reset_support_enabled is defined and (true == reset_support_enabled) %}
    <a href="{{ ro.gen('user.reset') }}">{{ tm._('Reset password', 'user.ui') }}</a>
    {% endif %}
</div>
