
<section class="container-list-data row-fluid"
    data-controller="{{client_side_controller.implementor}}"
    data-controller-options="{{client_side_controller.options|json_encode}}">

<!-- **************************************************
    List Controls/Widgets such as search and batch processing.
************************************************** -->
    <section class="well toolbar primary">
        <div class="container-viewcontrols">
            {% if has_tree_view %}
                <section class="view-mode-switch">
                    <div class="btn-group" data-toggle="radio">
                        <a class="btn active btn-primary" href="{{list_base_url}}">Liste</a>
                        <a class="btn btn-primary" href="{{tree_view_link}}">Hierarchie</a>
                    </div>
                </section>
            {% endif %}
        </div>
        <div class="container-actions clearfix">
            {% if false == select_only_mode %}
            <!-- @todo only if may create -->
            <section>
                <a class="btn hb-icon-file-4" href="{{ro.gen(module_type_key ~ '.edit')}}"> Neuer Eintrag</a>
            </section>
            <section>
                <div class="btn-group batch_actions">
                    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" data-bind="css: { 'disabled': ! has_selection() }">
                        {{ tm._('batch_actions', translation_domain) }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    {% for action_name, action in batch_actions %}
                        <li>
                            <a class="honeybee-action honeybee-action-{{action_name}}"
                               data-bind="click: function(item, event) { var is_batch = true; {{action}} },">
                               {{ tm._(action_name, translation_domain) }}
                           </a>
                           <a class="honeybee-action-{{action_name}} disabled_ghost" onclick="return false;">
                               {{ tm._(action_name, translation_domain) }}
                           </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
            {% endif %}
            <section class="search-widget" data-search-widget-options="{{search_widget_opts|raw}}">
            </section>
        </div>
    </section>

{# **************************************************
    Search/Filter and other notifications.
************************************************** #}
{% if not search|length %}
    {% set displayed_search = '' %}
{% else %}
    {% set displayed_search = search %}
{% endif %}

<!-- ko if: true === has_filter() -->
    <section style="margin-bottom: 20px;">
        <div class="alert search-message alert-info">
            <p>
                Dein Filter trifft auf <strong><span data-bind="text: item_count"></span> Einträge zu</strong>.
                <a class="clear-list-filter hb-icon-filter" data-bind="click: clearFilter"> Filter aufheben.</a>
            </p>
        </div>
    </section>
<!-- /ko -->
<!-- ko if: true === has_search() -->
    <section style="margin-bottom: 20px;">
        <div class="alert search-message alert-info">
            <p>
                Deine Suche trifft auf <strong><span data-bind="text: item_count"></span> Einträge zu</strong>.
            </p>
        </div>
    </section>
<!-- /ko -->

<section class="row-fluid">
    <section class="well toolbar secondary">
        <ul class="toolset">
            <li class="tool select-all">
                <a class="select-all-toggle hb-icon-checkmark-2" data-bind="click: selectAllToggle" title="Alle Einträge dieser Seite ab-/auswählen"> {{tm._('Alle auswählen',  translation_domain)}}</a>
            </li>
            <li class="tool select-invert">
                <a data-bind="click: invertAllSelected" class="hb-icon-loop-alt2"> {{tm._('Auswahl umkehren',  translation_domain)}}</a>
            </li>
            {% if 0 < sidebar_tree_targets|length %}
            <li class="tool sidebar-tree-targets">
                <ul>
                    {% for sidebar_target in sidebar_tree_targets %}
                    <li class="tree-target">
                        <div class="reference-assign disabled" data-module="{{sidebar_target.module}}" data-action="{{sidebar_target.related_action}}">
                            <a class="hb-icon-move"> {{sidebar_target.labels.assign}}</a>
                        </div>
                        <div class="reference-abort" data-module="{{sidebar_target.module}}" data-action="{{sidebar_target.related_action}}" style="display: none">
                            <a><i class="hb-icon-cancel"></i> {{sidebar_target.labels.abort}}</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>
{# **************************************************
    ListData Pagination Top
************************************************** #}
        {# todo This should be controller by a setting, as you probally not always want to have a pagination. #}
        {{ slots.pagination|raw}}
    </section>
{# **************************************************
    ListData Table Head
************************************************** #}
        <table class="data-list table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="list_item_checkbox">
                        <!-- @todo These values should be places to the bottom of the document. -->
                        <input type="hidden" class="list-data" value="{{list_data|json_encode}}" />
                        <label title="{{tm._('Alle auswählen', translation_domain)}}"><input type="checkbox" data-bind="checked: all_selected" /></label>
                    </th>

                    {% for fieldname, field in list_fields %}
                        {% set sorting_active = (sorting.field == fieldname) %}

                        {% if search %}
                            {% set routing_data_search = search %}
                        {% elseif is_filtered %}
                            {% set routing_data_filter = list_filter %}
                        {% endif %}

                        {% set routing_data = {
                            'limit': limit,
                            'offset': 0,
                            'sorting': {
                                'field': fieldname,
                                'direction': (sorting_active and sorting.direction == 'asc') ? 'desc' : 'asc'
                            },
                            'search': routing_data_search,
                            'filter': routing_data_filter
                        }%}

                        {% if field.hasSortField %}
                            <th class="data-header sortable {% if sorting_active %} sorted {{sortDirection}} {% endif %}">
                                <a href="{{ro.gen(list_route, routing_data)|raw}}">
                                    {{tm._(fieldname, translation_domain)}}
                                </a>
                            </th>
                        {% else %}
                            <th class="data-header">
                                <span>{{tm._(fieldname, translation_domain)}}</span>
                            </th>
                        {% endif %}

                    {% endfor %}

                    {% if false == select_only_mode %}
                    <th class="header-actions">
                        {{tm._('actions', translation_domain)}}
                    </th>
                    {% endif %}
                </tr>
            </thead>

{# **************************************************
    ListData Table Body
************************************************** #}
            <tbody data-bind="foreach: list_items">
                <tr data-bind='attr: { 
                    "class":  $data.css_classes }, 
                        event:{ dragstart: dragStart }, 
                        attr: { "draggable": ({{ sidebar_tree_targets|length }} > 0 && $data.workflow.interactive) ? "true" : "false" }'>

                    <td class="list_item_checkbox">
                        <label title="{{tm._('Eintrag wählen', translation_domain)}}"><input type="checkbox" data-bind="checked: selected" /></label>
                    </td>

                    {% for list_template in templates%}
                        {{list_template|raw}}
                    {% endfor %}

                    {% if false == select_only_mode %}
                    <td class="actions">
                        <div class="btn-group dropdown">
                            <!-- ko if: $data.workflow.interactive === true -->
                            <button class="btn btn-primary honeybee-action honeybee-action-edit"
                                    data-bind="click: function(item, event) { $parent.ctrl.run(false, item); }">
                                {{tm._('edit', translation_domain)}}
                            </button>
                            <!-- /ko -->
                            <!-- ko if: $data.workflow.interactive !== true -->
                                <button class="btn btn-primary honeybee-action honeybee-action-edit" disabled="disabled">
                                    {{tm._('edit', translation_domain)}}
                                </button>
                            <!-- /ko -->
                            <!-- ko if: $data.workflow.gates.length > 0 -->
                            <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <!-- ko foreach: $data.workflow.gates -->
                                <li>
                                    <a data-bind="click: function(item, event) 
                                    { 
                                        $root.ctrl.proceed(false, $parent, $data.name, $data.prompt); 
                                    }, text: $data.label, attr: { 'class': ('honeybee-action-' + $data.name) }"></a>
                                </li>
                                <!-- /ko -->
                                <!-- ko foreach: $data.custom_actions -->
                                <li>
                                    <a data-bind="click: function(item, event) 
                                    { 
                                        var i, args = [false, $parent];
                                        for (i = 0; i < $data.binding.parameters.length; i++)
                                        {
                                            args.push($data.binding.parameters[i]);
                                        }
                                        $root.ctrl[$data.binding.method].apply($root.ctrl, args);
                                    }, text: $data.label, attr: { 'class': ('honeybee-action-' + $data.name) }"></a>
                                </li>
                                <!-- /ko -->
                            </ul>
                            <!-- /ko -->
                        </div>
                    </td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
{# **************************************************
    ListData Pagination Bottom
************************************************** #}
    {% if list_data|length >= 10 %}
    <section class="well toolbar secondary">
        {{slots.pagination|raw}}
    </section>
    {% endif %}
    </section>
</section>

<!-- **************************************************
Modal dialogs
************************************************** -->
<div class="modal modal-batch-progress" style="display:none">
    <div class="modal-header">
        <h3>Fortschritt</h3>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-twodal-event="cancelbatch" class="btn btn-primary">Batchedit abbrechen</a>
    </div>
</div>

<div class="modal dialog-confirm" style="display:none">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h4>Bitte bestätigen</h4>
    </div>
    <div class="modal-body">
        <p class="prompt-text">Aktion wirklich durchf&uuml;hren?</p>
    </div>
    <div class="modal-footer">
        <a href="#" data-twodal-event="confirm" class="btn btn-primary">Ja</a>
    </div>
</div>

<div class="modal assign-reference-modal" style="display:none">
    <div class="modal-header">
        <a class="close close-dialog hb-icon-cancel"></a>
        <h3 class="header">select reference</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <section class="honeybee-widget widget-tags-list"></section>
        </div>
    </div>
    <div class="modal-footer">
        <div class="settings settings-reference-batch">
            <div class="setting setting-override-existing">
                <label class="setting-label">replace values</label>
                <input class="setting-value" type="radio" name="override-existing" />
            </div>
            <div class="setting setting-append-to-existing">
                <label class="setting-label">append values</label>
                <input class="setting-value" type="radio" name="override-existing" checked="checked" />
            </div>
        </div>
        <button class="btn btn-primary select-reference">assign values</button>
    </div>
</div>

