{% import _self as self %}

{% macro treenode(data, documents, translation_domain) %}
    {% import _self as self %}

    {% set document = documents[data.identifier] %}
    <li id="{{data.identifier}}" class="child {% if data.children|length > 0 %}expandable{% endif %}" draggable="true" data-document="{{document|json_encode}}">
        <span class="node-label">
            <input type="checkbox" class="check" />
            <i class="icon-minus node-toggle"></i>
            {{data.label}}
        </span>
        <ul class="node-controls">
            <li class="control">
                <div class="btn-group dropdown">
                        <button class="btn btn-primary honeybee-action honeybee-action-edit" {% if not document.workflow.interactive %}disabled="disabled"{% endif %}>
                            <i class="icon icon-cog"></i> {{tm._('edit', translation_domain)}}
                        </button>
                    {% if document.workflow.gates|length > 0 %}
                    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        {% for gate in document.workflow.gates %}
                        <li>
                            <a class="honeybee-action-proceed" data-gate="{{gate.name}}">{{gate.label}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </li>
            <li class="control">
                <a class="move">
                    <span class="control-label">Verschieben</span>
                    <i class="icon-move"></i>
                </a>
                <a class="move-cancel hide">
                    <span class="control-label">Abbrechen</span>
                </a>
                <ul class="move-target hide">
                    <li class="move-before"><span class="arrow">▲</span></li>
                    <li class="move-after"><span class="arrow">▼</span></li>
                    <li class="move-inside"><span class="arrow">▶</span></li>
                </ul>
            </li>
        </ul>
        {% if data.children|length > 0 %}
        <ul class="children">
        {% for child in data.children %}
            {{ self.treenode(child, documents, translation_domain) }}            
        {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endmacro %}

<section class="container-tree-data row-fluid"
    data-controller="{{client_side_controller.implementor}}"
    data-controller-options="{{client_side_controller.options|json_encode}}">

    <section class="container-alerts"
         data-bind="template: { foreach: alerts, afterAdd: showAlert, beforeRemove: hideAlert }">
        <div class="alert"
             data-bind="css: {
                            'alert-success': 'success' === type,
                            'alert-error': 'error' === type
                        }">
            <strong data-bind="text: message"></strong>
            <i class="icon-remove icon-white close"
               data-bind="click: function(alert) { $parent.removeAlert(alert); }"> </i>
        </div>
    </section>

<!-- **************************************************
    Tree Controls/Widgets such as search and batch processing.
************************************************** -->
    <section class="well toolbar primary">
        <div class="container-viewcontrols">
            <section class="view-mode-switch">
                <div class="btn-group" data-toggle="radio">
                    <a class="btn btn-primary" href="{{ro.gen(module_type_key ~ '.list')}}">Liste</a>
                    <a class="btn active btn-primary" href="{{ro.gen(module_type_key ~ '.tree')}}">Hierarchie</a>
                </div>
            </section>
        </div>
        <div class="container-actions clearfix">
            <section>
                <a class="btn" href="{{ro.gen(module_type_key ~ '.edit')}}">Neuer Eintrag</a>
            </section>
            <section>
                <div class="btn-group">
                    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
                        Stapelverarbeitung
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    {% for action_name, action in batch_actions %}
                        <li>
                            <a class="honeybee-action honeybee-action-{{action_name}}" data-action="{{action}}">
                                {{ tm._(action_name, translation_domain) }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </section>

    <section class="render-tree">
        <ul class="children">
        {% for node in tree.rootNode.children %}
            {{ self.treenode(node, documents, translation_domain) }}
        {% endfor %}
        </ul>
    </section>

    <script class="tree-data-json" type="application/json">
        {{tree|json_encode|raw}}
    </script>
</section>

<!-- **************************************************
Modal dialogs
************************************************** -->
<div class="modal modal-batch-progress" style="display:none">
    <div class="modal-header">
        <h3>Fortschritt</h3>
    </div>
    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-twodal-event="cancelbatch" class="btn btn-primary">Batchedit abbrechen</a>
    </div>
</div>

<div class="modal dialog-confirm" style="display:none">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h4>Bitte bestätigen</h4>
    </div>
    <div class="modal-body">
        <p class="prompt-text">Aktion wirklich durchf&uuml;hren?</p>
    </div>
    <div class="modal-footer">
        <a href="#" data-twodal-event="confirm" class="btn btn-primary">Ja</a>
    </div>
</div>
