<section class="container-tree-data row-fluid"
    data-controller="{{client_side_controller.implementor}}"
    data-controller-options="{{client_side_controller.options|json_encode}}">

    <section class="container-alerts"
         data-bind="template: { foreach: alerts, afterAdd: showAlert, beforeRemove: hideAlert }">
        <div class="alert"
             data-bind="css: {
                            'alert-success': 'success' === type,
                            'alert-error': 'error' === type
                        }">
            <strong data-bind="text: message"></strong>
            <i class="icon-remove icon-white close"
               data-bind="click: function(alert) { $parent.removeAlert(alert); }"> </i>
        </div>
    </section>

<!-- **************************************************
    Tree Controls/Widgets such as search and batch processing.
************************************************** -->
    <section class="well toolbar">
        <div class="container-viewcontrols">
            <section class="view-mode-switch">
                <div class="btn-group" data-toggle="radio">
                    <a class="btn btn-primary" href="{{ro.gen(module_type_key ~ '.list')}}">Liste</a>
                    <a class="btn active btn-primary" href="{{ro.gen(module_type_key ~ '.tree')}}">Hierarchie</a>
                </div>
            </section>
        </div>
        <div class="container-actions clearfix">
        </div>
    </section>

    <section class="render-tree">
    </section>

    <script class="tree-data-json" type="application/json">
        {{tree|json_encode|raw}}
    </script>
</section>

