<div class="control-group field-wrapper-{{ fieldName }}">
    <label class="control-label" for="{{ fieldId }}">
        {{ tm._(fieldKey, td)|raw}}
        {% if mandatory == true %}
        <span class="mandatory-marker">*</span>
        {% endif %}
    </label>
    <div class="controls">
        {% if readonly == false %}
        <input type="hidden" name="{{ inputName }}" value="0" title="{{ placeholder }}" />
        {% endif %}
        <input type="checkbox" name="{{ inputName }}" value="1" id="{{ fieldId }}" title="{{ placeholder }}" 
             {% if true == fieldValue %} checked="checked" {% endif %}
             {% if true == readonly %} readonly="readonly" {% endif %} />
        {% if tm._(fieldKey ~ '_help', td) != fieldKey ~ '_help' %}
        <span class="hb-icon-info help-trigger"
            {% if tm._(fieldKey ~ '_help_title', td) == fieldKey ~ '_help_title' %}
            data-title="{{ tm._('field_level_help') }}"
            {% else %}
            data-title="{{ tm._(fieldKey ~ '_help_title', td) }}"
            {% endif %}
            data-content="{{ tm._(fieldKey ~ '_help', td) }}"
            data-animation="false" data-placement="left" data-trigger="manual" data-html="true"  />
        {% endif %}
    </div>
</div>
