<div class="control-group field-wrapper-{{ fieldName }}">
    <label class="control-label" for="{{ fieldId }}">{{ tm._(fieldName, td)}} </label>
    <div class="controls">
        <input readonly="readonly" type="text" name="{{ inputName }}" data-bind="value: {{ fieldName }}"
            id="{{ fieldId }}" placeholder="{{ placeholder }}" class="span11" />
    </div>
</div>
