<div class="control-group">
{% if field.getOption('use_richtext') %}
    <textarea type="text" name="{{ inputName }}" id="{{fieldId}}" placeholder="{{ placeholder }}" class="ckeditor">{{fieldValue}}</textarea>
{% else %}
<label class="control-label" for="{{ fieldId }}">{{ tm._(fieldName, td) }}</label>
<div class="controls">
<textarea type="text" class="span11" name="{{ inputName }}" id="{{ fieldId }}"
placeholder="{{ placeholder }}" class="input-xlarge">{{ fieldValue }}</textarea>
</div>
{% endif %}
</div>
