<?xml version="1.0" encoding="utf-8" ?>
    {% set locale = tm.getCurrentLocale() %}
    {% set dir = locale.getCharacterOrientation() == 'right-to-left' ? 'rtl' : 'ltr' %}
    {% set is_error_page = TRUE == rq.getAttribute('is_error_page') %}
<!DOCTYPE HTML>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xml:lang="{{ locale.getLocaleLanguage() }}"
    lang="{{ locale.getLocaleLanguage() }}"
    dir="{{ dir }}" {{ rq.getAttribute('is_error_page') ? 'class="error-page"' : '' }}>
    <head>
        <title>{{ _title }}</title>
        <base href="{{ ro.getBaseHref() }}" id="base_href"/>
        {% if ac('core.favicon_path', false) != false %}
        <link rel="shortcut icon" type="image/png" href="{{ ac('core.favicon_path') }}" />
        {% endif %}
        <!-- %%STYLESHEETS%% -->
        {% if ac('core.include_google_maps', true) != false %}
        <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDTmXFG9RpWVwNn-UzDKZuy8BRzTM-ir2g&amp;sensor=false&amp;libraries=drawing"></script>
        {% endif %}
        {% if ac('core.include_ckeditor', true) != false %}
        <script type="text/javascript" src="static/ckeditor/ckeditor.js"></script>
        {% endif %}
    </head>
    <body>
        {{ slots.header|raw }}
        {{ inner|raw }}
        <footer class="footer container-fluid">
            <p>
                <a class="footer-logo" href="http://www.berlinonline.net/beratung-entwicklung/honeybee/">
                    <img src="static/deploy/_global/binaries/honeybee_logo.png" style="width:16px;border:0;" /><span>Honeybee</span></a>
                    - Copyright &#169; {{ "now"|date("Y") }} <a class="company-link" href="http://www.berlinonline.net">BerlinOnline</a>
            </p>
        </footer>
        <!-- %%JAVASCRIPTS%% -->
    </body>
</html>
