<?xml version="1.0" encoding="utf-8" ?>
    {% set locale = tm.getCurrentLocale() %}
    {% set dir = locale.getCharacterOrientation() == 'right-to-left' ? 'rtl' : 'ltr' %}
    {% set is_error_page = TRUE == rq.getAttribute('is_error_page') %}
<!DOCTYPE HTML>
<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xml:lang="{{ locale.getLocaleLanguage() }}" 
    lang="{{ locale.getLocaleLanguage() }}" 
    dir="{{ dir }}" {{ rq.getAttribute('is_error_page') ? 'class="error-page"' : '' }}>
    <head>
        <title>{{ _title }}</title>
        <base href="{{ ro.getBaseHref() }}" id="base_href"/>
        {% if ac('core.favicon_path', false) != false %}
        <link rel="shortcut icon" type="image/png" href="{{ ac('core.favicon_path') }}" />
        {% endif %}
        <!-- %%STYLESHEETS%% -->
        {% if ac('core.include_google_maps', true) != false %}
        <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&amp;libraries=drawing"></script>
        {% endif %}
        {% if ac('core.include_ckeditor', true) != false %}
        <script type="text/javascript" src="static/ckeditor/ckeditor.js"></script>
        {% endif %}
    </head>
    <body class="ctx-reference-access">
        {{ inner|raw }}
        <!-- %%JAVASCRIPTS%% -->
    </body>
</html>
